# .coveragerc to control coverage.ph
# https://coverage.readthedocs.io/en/v4.5.x/config.html
[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # omit anything in a .local directory anywhere
    */.local/*

    # omit everything in /usr
    /usr/*

    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[html]
directory = test-results/html

[xml]
output = 'test-results/coverage.xml'
